<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="toolbar-item transition flex">
        <mat-icon>assignment</mat-icon>
        <span>Fichas</span>
    </div>

    <span>ERPg</span>
    <div class="toolbar-item transition flex">
        <mat-icon>bookmark</mat-icon>
        <span>Meus Sistemas</span>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>