.mat-toolbar{
    display: flex;
    justify-content: space-between;
  }

.mat-toolbar span{
  cursor: pointer;
}

.toolbar-item{
    cursor: pointer;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}